<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.owner">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".OrdersActivity"/>
        <activity android:name=".DoctorsActivity"></activity>
        <activity android:name=".PharmacyActivity" />
        <activity android:name=".AdminUserProducts" />
        <activity android:name=".UpdateDoctorActivity"/>
        <activity android:name=".UpdateProductActivity" />
        <activity android:name=".DoctorAdd" />
        <activity android:name=".Feedbackss" />
        <activity android:name=".HomeActivity">
        </activity>
        <activity android:name=".ProductAdd" />
        <activity android:name=".LoginAdmin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>